librosa==0.10.2.post1
hydra-core==1.3.2
matplotlib==3.9.2
numpy==2.1.3
omegaconf==2.3.0
pandas==2.2.3
pyfar==0.7.0
pyroomacoustics==0.8.2
PyYAML==6.0.2
Requests==2.32.3
rVADfast==0.0.3
scikit_learn==1.5.2
scipy==1.14.1
sounddevice==0.5.1
speechbrain==1.0.2
torch==2.5.1
torch_audiomentations==0.11.1
torchaudio==2.5.1
torchdata==0.9.0
tqdm==4.67.0
transformers==4.46.2
xlstm==1.0.8
