datasets
librosa==0.10.2.post1
huggingface_hub
hydra-core>=1.3.2
matplotlib
numpy>=1.3
numba>=0.60.0
pandas
pyfar==0.7.0
pyroomacoustics
PyYAML
Requests
rVADfast==0.0.3
scikit_learn
scipy
sounddevice
speechbrain
torch
torch_audiomentations
torchaudio
torchvision
torchdata==0.9.0
tqdm
transformers
wandb
webdataset
xlstm
omegaconf
s3prl